@font-face{font-family:Geist Fallback;src:local(Arial);ascent-override:95.94%;descent-override:28.16%;line-gap-override:0.0%;size-adjust:104.76%}
.google-font-geist{font-family:Geist,Geist Fallback;font-style:normal}
.google-font-geist-variable{--font-geist-sans:"Geist", "Geist Fallback"}
@font-face{font-family:Geist Mono Fallback;src:local(Arial);ascent-override:74.67%;descent-override:21.92%;line-gap-override:0.0%;size-adjust:134.59%}
.google-font-geist-mono{font-family:Geist Mono,Geist Mono Fallback;font-style:normal}
.google-font-geist-mono-variable{--font-geist-mono:"Geist Mono", "Geist Mono Fallback"}
